/* Styles for the various layout parts. */
html, body, header, footer {
    width: 96%;
    max-width: 100%;
    margin: 0;
    padding: 0;
}

body {
    margin: 0 4%;
    background-color: theme-color-alpha($theme-default, primary, 0.65);
    color: theme-color-level($theme-default, primary, 10%);
    border: 1px theme-color-alpha($theme-default, secondary, 0.5) solid;

    .row {
        width: 98%;
        padding: 0;
        padding-left: 1%;
        padding-right: 1%;
        background-color: theme-color-alpha($theme-default, foreground, 0.8);
    }

    .header, .footer {
        width: 100%;

        .row {
            padding: 0 5%;
            width: 90%;
            background-color: theme-color-alpha($theme-default, accent, 0.8);
        }
    }

    .menu {
        width: 90%;
        padding: 10px;
        background-color: theme-color($theme-default, background);

        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                display: inline;
                padding: 10px;
                position: relative;
            }

            ul {
                display: none;
                position: absolute;
            }

            li:hover + ul {
                display: block;
            }
        }
    }

    a {
        text-decoration: none;

        &:link, &:visited {
            color: theme-color($theme-default, primary);
        }

        &:hover, &:active, &:focus {
            color: theme-color($theme-default, secondary);
            border-bottom: 1px theme-color-level($theme-default, secondary, 0.9) dotted;
            background-color: theme-color($theme-default, background);
        }
    }
}
