.tabs {
    padding: 0;
    margin: 0;

    li {
        display: inline;
        list-style-type: none;
        margin: 0;
        padding: 10px;
        border: 1px theme-color($theme-default, accent) solid;

        &.active {
            background-color: theme-color($theme-default, foreground);
        }
    }

    li:hover {
        background-color: theme-color($theme-default, secondary);
        color: theme-color($theme-default, primary);
        cursor: pointer;
    }
}

.tabs-content {
    border: 1px theme-color($theme-default, accent) solid;
    margin: 10px 0;

    .tabs-panel {
        padding: 10px;
        margin: 0;
        display: none;

        &.active {
            display: block;
        }
    }
}
