<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="UTF-8">
    <title>{{ title }} | Gulp Web</title>
    <!--build:css css/styles.min.css-->
    <link rel="stylesheet" href="/css/main.css">
    <!--endbuild-->
    <link rel="stylesheet" href="/css/vocaloid.css">
    <!--build:js js/main.min.js-->

    <!--endbuild-->
</head>

<body>
    <header class="header">

    </header>

    {{>body}}

    <footer class="footer">

    </footer>
</body>
</html>
